.navbar-lewagon {
  justify-content: center;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white;
}

.nav-item {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    margin: 5px 0 0;
    border-radius: 3px;
    transition-duration: .3s;
    opacity: 1;
  }
}

.nav-item:hover {
  &:after {
    width: 100%;
    background-color: #FFCE00;;
  }
}
